html {
  background-color: pink;
}
.parent-header {
  margin-left: 60px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.score-header {
  background-color: #da3aa4;
  width: 100vw;
  padding-left: 1350px;
  color: white;
}
.Score {
  background-color: #e354f0;
  color: white;
  padding-left: 1350px;
}